@{
	ViewData["Title"] = "Checkout";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ASP.NET_CORE_Final_2019.Models.CheckoutSum

<div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
				<h1 class="mb-0 bread">Checkout</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section">
	<form asp-action="CheckCode" class="billing-form">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-7 ftco-animate">

					<h3 class="mb-4 billing-heading">Thông tin thanh toán</h3>
					<div class="row align-items-end">

						<div class="col-md-12">
							<div class="form-group">
								<label for="firstname">Họ - tên</label>
								<input asp-for="khachhang.Ten" type="text" class="form-control" placeholder="" required>
							</div>
						</div>
						<div class="w-100"></div>

						<div class="col-md-12">
							<div class="form-group">
								<label for="firstname">Địa chỉ</label>
								<input asp-for="khachhang.DiaChi" type="text" class="form-control" placeholder="Vui lòng điền đầy đủ số nhà, đường, phường, quận, thành phố" required>
							</div>
						</div>
						<div class="w-100"></div>

						<div class="col-md-12">
							<div class="form-group">
								<label for="phone">Số điện thoại</label>
								<input asp-for="khachhang.Sdt" type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" placeholder="ví dụ: 0907883642" required>
							</div>
						</div>
						<div class="w-100"></div>

						<div class="col-md-12">
							<div class="form-group">
								<label for="emailaddress">Địa chỉ Email</label>
								<input asp-for="khachhang.Email" type="email" class="form-control" placeholder="Địa chỉ Email này sẽ lưu trữ vào hệ thống để khách hàng có thể tìm kiếm đơn hàng" required>
							</div>
						</div>
						<div class="w-100"></div>

					</div>

				</div>
				<div class="col-xl-5">
					<div class="row mt-5 pt-3">
						<div class="col-md-12">
							<div class="cart-detail p-3 p-md-4">
								<h3 class="billing-heading mb-4">Phương thức thanh toán</h3>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label><input type="radio" name="PhuongThucThanhToan" value="Thanh Toán Khi Nhận Hàng" class="mr-2" checked> Thanh toán khi nhận hàng</label>
                                    </div>
                                    <div class="col-md-12">
                                        <label><input type="radio" name="PhuongThucThanhToan" value="PayPal" class="mr-2"> Paypal</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div><span>Thanh Toán Qua Ngân Lượng</span></div>
                                        <label><input type="radio" name="PhuongThucThanhToan" value="Ví Ngân Lượng" class="mr-2" />Số Dư Ví Ngân Lượng</label>
                                        <label><input type="radio" name="PhuongThucThanhToan" value="Thẻ VISA" class="mr-2" />Thẻ VISA</label>
                                        <label><input type="radio" name="PhuongThucThanhToan" value="Thẻ ATM" class="mr-2" />Thẻ ATM </label>
										<div id="bank-content" style="display:none">
                                            <ul class="cardList clearfix">

                                                <li class="bank-online-methods ">
                                                    <label for="vcb_ck_on">
                                                        <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
                                                        <input type="radio" value="VCB" name="bankcode" checked />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="vnbc_ck_on">
                                                        <i class="DAB" title="Ngân hàng Đông Á"></i>
                                                        <input type="radio" value="DAB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="tcb_ck_on">
                                                        <i class="TCB" title="Ngân hàng Kỹ Thương"></i>
                                                        <input type="radio" value="TCB" name="bankcode" />
                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="sml_atm_mb_ck_on">
                                                        <i class="MB" title="Ngân hàng Quân Đội"></i>
                                                        <input type="radio" value="MB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="shb_ck_on">
                                                        <i class="SHB" title="Ngân hàng Sài Gòn - Hà Nội"></i>
                                                        <input type="radio" value="SHB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="sml_atm_vib_ck_on">
                                                        <i class="VIB" title="Ngân hàng Quốc tế"></i>
                                                        <input type="radio" value="VIB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="sml_atm_vtb_ck_on">
                                                        <i class="ICB" title="Ngân hàng Công Thương Việt Nam"></i>
                                                        <input type="radio" value="ICB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="sml_atm_exb_ck_on">
                                                        <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
                                                        <input type="radio" value="EXB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="sml_atm_acb_ck_on">
                                                        <i class="ACB" title="Ngân hàng Á Châu"></i>
                                                        <input type="radio" value="ACB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="sml_atm_hdb_ck_on">
                                                        <i class="HDB" title="Ngân hàng Phát triển Nhà TPHCM"></i>
                                                        <input type="radio" value="HDB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="sml_atm_msb_ck_on">
                                                        <i class="MSB" title="Ngân hàng Hàng Hải"></i>
                                                        <input type="radio" value="MSB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="sml_atm_nvb_ck_on">
                                                        <i class="NVB" title="Ngân hàng Nam Việt"></i>
                                                        <input type="radio" value="NVB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="sml_atm_vab_ck_on">
                                                        <i class="VAB" title="Ngân hàng Việt Á"></i>
                                                        <input type="radio" value="VAB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="sml_atm_vpb_ck_on">
                                                        <i class="VPB" title="Ngân Hàng Việt Nam Thịnh Vượng"></i>
                                                        <input type="radio" value="VPB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="sml_atm_scb_ck_on">
                                                        <i class="SCB" title="Ngân hàng Sài Gòn Thương tín"></i>
                                                        <input type="radio" value="SCB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="ojb_ck_on">
                                                        <i class="OJB" title="Ngân hàng Đại Dương"></i>
                                                        <input type="radio" value="OJB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="bnt_atm_pgb_ck_on">
                                                        <i class="PGB" title="Ngân hàng Xăng dầu Petrolimex"></i>
                                                        <input type="radio" value="PGB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="bnt_atm_gpb_ck_on">
                                                        <i class="GPB" title="Ngân hàng TMCP Dầu khí Toàn Cầu"></i>
                                                        <input type="radio" value="GPB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="bnt_atm_agb_ck_on">
                                                        <i class="AGB" title="Ngân hàng Nông nghiệp &amp; Phát triển nông thôn"></i>
                                                        <input type="radio" value="AGB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="bnt_atm_sgb_ck_on">
                                                        <i class="SGB" title="Ngân hàng Sài Gòn Công Thương"></i>
                                                        <input type="radio" value="SGB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="bnt_atm_nab_ck_on">
                                                        <i class="NAB" title="Ngân hàng Nam Á"></i>
                                                        <input type="radio" value="NAB" name="bankcode" />

                                                    </label>
                                                </li>

                                                <li class="bank-online-methods ">
                                                    <label for="sml_atm_bab_ck_on">
                                                        <i class="BAB" title="Ngân hàng Bắc Á"></i>
                                                        <input type="radio" value="BAB" name="bankcode" />
                                                    </label>
                                                </li>

                                            </ul>
										</div>
                                    </div>
                                    <span asp-validation-for="PhuongThucThanhToan" class="text-danger"></span>
                                </div>
								<p><input type="submit" class="btn btn-primary py-3 px-4" value="Xác nhận" /></p>
							</div>
						</div>
					</div>
				</div> <!-- .col-md-8 -->
			</div>
		</div>
	</form><!-- END -->
</section> <!-- .section -->
