<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NETCORE1920</title>

    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
        <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
        <link rel="icon" type="image/png" href="~/img/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!-- CSS Files -->
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="~/demo/demo.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
    <style>
        .active{
            background-color:red;
        }
    </style>
</head>
@{
    var sessionName = new Byte[20];
    bool nameOK = Context.Session.TryGetValue("Pass", out sessionName);
    if (nameOK)
    {
        string result = System.Text.Encoding.UTF8.GetString(sessionName);
        if (result != "admin")
        {
            Context.Response.Redirect("/Admin");
        }
    }
    else
    {
        Context.Response.Redirect("/Admin");
    }
}
<body class="goto-here">
    <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="danger">
            <div class="logo">
                <span>
                    <a asp-controller="DonHang" asp-action="Index">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-important">Số Đơn Hàng Chưa Xử Lý :</span>
                        @{ 
                            int num = 0;
                            VEGEFOOD_DBContext db = new VEGEFOOD_DBContext();
                            IEnumerable<Donhang> list = db.Donhang;
                            foreach(Donhang item in list)
                            {
                                if (item.TrangThai == 0 && item.EmailKhachHang!="not")
                                {
                                    num++;
                                }
                            }
                            @num;
                        }
                    </a>
                </span>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li id="1">
                        <a asp-controller="DonHang" asp-action="Index" >
                            <i class="nc-icon nc-tile-56"></i>
                            <p>Quản Lý Đơn Hàng</p>
                        </a>
                    </li>
                    <li id="2">
                        <a asp-controller="KhachHang" asp-action="Index" >
                            <i class="fa fa-users"></i>
                            <p>Danh Sách Khách Hàng</p>
                        </a>
                    </li>
                    <li id="3">
                        <a asp-controller="LoaiSanPham" asp-action="Index">
                            <i class="fa fa-newspaper-o"></i>
                            <p> Loại Sản Phẩm</p>
                        </a>
                    </li>
                    <li id="4">
                        <a asp-controller="SanPham" asp-action="Index" >
                            <i class="fa fa-lemon-o"></i>
                            <p>Danh Sách Sản Phẩm</p>
                        </a>
                    </li>
                    <li id="5">
                        <a asp-controller="NhaCungCap" asp-action="Index">
                            <i class="fa fa-truck"></i>
                            <p> Nhà Cung Cấp</p>
                        </a>
                    </li>
                    <li id="6">
                        <a asp-controller="ThongKe" asp-action="Index">
                            <i class="fa fa-area-chart"></i>
                            <p>Thống Kê</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <partial name="_CookieConsentPartial" />

        @*<div class="container body-content">*@
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; 2019 - NETCORE1920</p>
            </footer>*@
        @*</div>*@
    </div>
    <environment include="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>*@
        <script src="~/js/core/jquery.min.js"></script>
        <script src="~/js/core/popper.min.js"></script>
        <script src="~/js/core/bootstrap.min.js"></script>
        <script src="~/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!--  Google Maps Plugin    -->
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
        <!-- Chart JS -->
        <script src="~/js/plugins/chartjs.min.js"></script>
        <!--  Notifications Plugin    -->
        <script src="~/js/plugins/bootstrap-notify.js"></script>
        <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="~/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
        <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
        <script src="~/demo/demo.js"></script>
    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
