
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<button style="margin-left: 235px;" onclick="load()">
    <center><h1>Bấm vào để ghé thăm trang chủ</h1></center>
</button>
<hr>




<script>
    function load() {
        //alert(":))");
        window.location.href = window.location.href + 'Home';
        //$.get("/Home")
        //$.post("/Home");
    }
</script>
