@model IEnumerable<ASP.NET_CORE_Final_2019.Models.Loaisanpham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="main-panel">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" style="background-image:url('/images/p9.jpg')">Loại Sản Phẩm</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                 <th>
                                     Id Loại
                                 </th>
                                <th>
                                    Tên Loại
                                </th>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Ten</td>
                                            <td>
                                                <button class="btn btn-success"><a asp-action="Edit" asp-route-Id="@item.Id">Sửa</a></button>
                                                @if(item.Id !=1 && item.Id!=2&&item.Id!=3&&item.Id!=4)
                                                {
                                                <button class="btn btn-dark"><a asp-action="Delete" asp-route-Id="@item.Id">Xóa</a></button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                        <tr>
                                            <td>
                                                <button>
                                                    <a asp-action="Create">
                                                        Thêm Loại Sản Phẩm
                                                    </a>
                                                </button>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>